@media screen and (max-width: 1200px){
    .slider-container {
        width: 600px;
        height: 375px;
    }
    .slider-container a img {
        height: 50px;
    }
    .slider-container .slider-left {
        right: 110%;
    }    
    .slider-container .slider-right {
        left: 110%;
    } 
    .gamburger{display: none;}
    .X{display: none;}
}  
 

@media screen and (max-width: 999px){
    .slider-container {
        width: 400px;
        height: 270px;
    }
}

 @media screen and (max-width: 768px){
    header .nav menu#menu ul {
        flex-direction: column;
        display: none;
    }
    img.gamburger, .X {
        display: block;
    }
    .X{
        display:none;
        text-align: right;
        cursor: pointer;
    }
    header .nav menu#menu ul li a {
        margin: 0px 0px 0px 20px;
    }
    .slider-container {
            width: 300px;
            height: 170px;
    }
    .container-slider h1 {
        font-size: 45px;
    }
    .slider-container .slider-right, .slider-container .slider-left {
        top: 40%;
    }
    .container-team .our-team .wrap-box {
        margin: 0px auto 15px auto;
    }
    .owl-item {
        margin-left: 20px;
        width: 150px !important;
    }
    .container.content {
        max-width: 500px;
    }
    span.blabla {
        width: 100%;
        text-align: center;
    }
    .container-tweets .twit {
        padding: 0 35px 0px 35px;
    }
    .gamburger{display: block; cursor: pointer;}

}      

@media screen and (max-width: 550px){
    .slider-container {
        width: 250px;
        height: 150px;
    }
    .slider-container .slider-right {
        left: 100%;
        top: 42%;
    }
    .slider-container .slider-left {
        right: 100%;
        top: 42%;
    }  
    .slider-container a img {
        height: 30px;
    }
    .container-slider h1 {
        font-size: 30px;
        padding-top: 35px;
    }
    .container-slider p {
        font-size: 14px;
    }
    .info h1 {
        font-size: 25px;
        letter-spacing: 5px;
    }
    .container-about .smart-creative .info span {
        font-size: 15px;
    }
    .container-about .smart-creative .wrap-box h2 {
        font-size: 22px;
    }
    .container-about .smart-creative .wrap-box span {
        font-size: 14px;
    }
    .container-about .smart-creative .wrap-box {
        margin: auto auto 10px auto;
    }
    .container-team .our-team .wrap-box {
    background: white;
    margin: auto auto 15px auto;
    }
    .info span {
        font-size: 17px;
    }
    .owl-item {
        width: 110px !important;
        margin-left: 20px;
    }
    .container.content {
        overflow: hidden;
        padding: 0px 50px 0px 50px;
    }
    .owl-theme .owl-nav [class*='owl-'] {
        margin: 0px;
    }
    .container-portfolio h1 {
        font-size: 30px;
        letter-spacing: 2px;
    }
    .container-portfolio span {
        font-size: 16px;
    }
    .container-portfolio .box-level ul li {
        font-size: 15px;
    }
    .container-portfolio .box-level div span,.container-portfolio .box-level.origin div span {
        font-size: 14px;
        padding-top: 15px;
    }
    .container-portfolio .box-level.origin {
         margin-top: 0; 
    }
    .container-portfolio .box-level b,.container-portfolio .box-level.origin b {
        font-size: 50px;
    }
    .container-portfolio span p a {
    text-align: center;
    padding: 10px;
    }
    .container-tweets .wrap-box h1 {
        font-size: 25px;
        letter-spacing: 5px;
        padding-top: 30px;
    }
    .container-tweets .twit {
        padding: 0px 10px;
        text-align: center;
    }
    .container-footer div {
        flex-wrap: wrap;
        margin: inherit;
    }
    .sub2 {
        width: 100px;
        padding-top: 10px;
    }
    .contacts div h1 {
        font-size: 25px;
        margin-top: 10px;
    }
    .contacts div span {
        margin-bottom: 10px;
        font-size: 15px;
        color: #d94b4a;
    }
    .contacts div {
        height: 125px;
        padding-top: 20px;
    }
    .social div {
        margin-left: 5px;
    }
    .contacts {
        left: 0;
        margin-left: 0;
        width: 100%;
    }
    .contacts div {
        margin-top: 15%;
    }
}