@-webkit-keyframes heartbeat {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  25% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes heartbeat {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  25% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@font-face {
  font-family: "Bariol_Regular";
  src: url("/fonts/Bariol_Regular.otf");
}

@font-face {
  font-family: "Bariol_Regular_Italic";
  src: url("/fonts/Bariol_Regular_Italic");
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.slider-container {
  position: relative;
  width: 800px;
  height: 450px;
  margin: auto;
}

.slider-container .slider-content {
  position: relative;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.slider-container .slider-content .slider-single {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: z-index 0ms 250ms;
  transition: z-index 0ms 250ms;
}

.slider-container .slider-content .slider-single .slider-single-image {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
  transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
  -webkit-transform: scale(0);
          transform: scale(0);
}

.slider-container .slider-content .slider-single .slider-single-download {
  position: absolute;
  display: block;
  right: -22px;
  bottom: 12px;
  padding: 15px;
  color: #333333;
  background-color: #fdc84b;
  font-size: 18px;
  font-weight: 600;
  font-family: 'karla';
  border-radius: 5px;
  -webkit-transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
  transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
}

.slider-container .slider-content .slider-single .slider-single-download:hover, .slider-container .slider-content .slider-single .slider-single-download:focus {
  outline: none;
  text-decoration: none;
}

.slider-container .slider-content .slider-single .slider-single-title {
  display: block;
  float: left;
  margin: 16px 0 0 20px;
  font-size: 20px;
  font-family: 'karla';
  font-weight: 400;
  color: #ffffff;
  -webkit-transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
  transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
}

.slider-container .slider-content .slider-single .slider-single-likes {
  display: block;
  float: right;
  margin: 16px 20px 0 0;
  -webkit-transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
  transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
}

.slider-container .slider-content .slider-single .slider-single-likes i {
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
  color: #ff6060;
  -webkit-transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
  transition: 500ms cubic-bezier(0.17, 0.67, 0.55, 1.43);
  -webkit-transform: scale(0);
          transform: scale(0);
}

.slider-container .slider-content .slider-single .slider-single-likes p {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  color: #ffffff;
}

.slider-container .slider-content .slider-single .slider-single-likes:hover, .slider-container .slider-content .slider-single .slider-single-likes:focus {
  outline: none;
  text-decoration: none;
}

.slider-container .slider-content .slider-single.preactivede .slider-single-image {
  -webkit-transform: translateX(-50%) scale(0);
          transform: translateX(-50%) scale(0);
}

.slider-container .slider-content .slider-single.preactive {
  z-index: 1;
}

.slider-container .slider-content .slider-single.preactive .slider-single-image {
  -webkit-transform: translateX(-25%) scale(0.8);
          transform: translateX(-25%) scale(0.8);
}

.slider-container .slider-content .slider-single.preactive .slider-single-download {
  -webkit-transform: translateX(-150px);
          transform: translateX(-150px);
}

.slider-container .slider-content .slider-single.preactive .slider-single-title {
  -webkit-transform: translateX(-150px);
          transform: translateX(-150px);
}

.slider-container .slider-content .slider-single.preactive .slider-single-likes {
  -webkit-transform: translateX(-150px);
          transform: translateX(-150px);
}

.slider-container .slider-content .slider-single.proactive {
  z-index: 1;
}

.slider-container .slider-content .slider-single.proactive .slider-single-image {
  -webkit-transform: translateX(25%) scale(0.8);
          transform: translateX(25%) scale(0.8);
}

.slider-container .slider-content .slider-single.proactive .slider-single-download {
  -webkit-transform: translateX(150px);
          transform: translateX(150px);
}

.slider-container .slider-content .slider-single.proactive .slider-single-title {
  -webkit-transform: translateX(150px);
          transform: translateX(150px);
}

.slider-container .slider-content .slider-single.proactive .slider-single-likes {
  -webkit-transform: translateX(150px);
          transform: translateX(150px);
}

.slider-container .slider-content .slider-single.proactivede .slider-single-image {
  -webkit-transform: translateX(50%) scale(0);
          transform: translateX(50%) scale(0);
}

.slider-container .slider-content .slider-single.active {
  z-index: 2;
}

.slider-container .slider-content .slider-single.active .slider-single-image {
  -webkit-transform: translateX(0%) scale(1);
          transform: translateX(0%) scale(1);
}

.slider-container .slider-content .slider-single.active .slider-single-download {
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.slider-container .slider-content .slider-single.active .slider-single-title {
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.slider-container .slider-content .slider-single.active .slider-single-likes {
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.slider-container .slider-content .slider-single.active .slider-single-likes i {
  -webkit-animation-name: heartbeat;
          animation-name: heartbeat;
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
  animation-interation: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.slider-container .slider-left {
  position: absolute;
  z-index: 3;
  display: block;
  right: 120%;
  top: 35%;
  color: #ffffff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 20px 15px;
  margin-right: -2px;
}

.slider-container .slider-right {
  position: absolute;
  z-index: 3;
  display: block;
  left: 120%;
  top: 35%;
  color: #ffffff;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 20px 15px;
  margin-left: -2px;
}

.wrapper {
  margin: auto;
  width: 100%;
  top: 0px;
  padding-top: 0;
  margin: auto;
  position: relative;
  height: 100%;
}

ul {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #eb4f4e;
}

header .nav {
  background: #f56262;
  max-width: 100%;
}

header .nav menu#menu {
  max-width: 950px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 25px 0px 15px 0px;
}

header .nav menu#menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: white;
  font-family: Arial;
  font-size: 16px;
  font-weight: 600;
}

header .nav menu#menu ul li {
  border-radius: 5px;
  max-height: 28px;
}

header .nav menu#menu ul li a {
  color: white;
  text-decoration: none;
  vertical-align: -webkit-baseline-middle;
  margin: 0px 20px 0px 20px;
}

header .nav menu#menu ul li:hover {
  background: black;
}

.container-slider {
  background: #eb4f4e;
  margin: 0;
  text-align: center;
  color: white;
  font-family: "Bariol_Regular";
  max-height: 540px;
}

.container-slider h1 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  font-size: 56px;
  letter-spacing: 5px;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  padding-top: 60px;
}

.container-slider p {
  font-size: 18px;
  font-family: "Bariol_Regular";
  letter-spacing: 1px;
}

.container-about {
  color: white;
  background: black;
  font-family: "Bariol_Regular";
  padding-bottom: 25px;
}

.container-about .smart-creative {
  max-width: 950px;
  margin: auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  letter-spacing: 2px;
}

.container-about .smart-creative .info span {
  font-size: 20px;
  color: #eb4f4e;
}

.container-about .smart-creative .wrap-box {
  max-width: 260px;
  margin: auto;
}

.container-about .smart-creative .wrap-box h2 {
  color: white;
  font-size: 30px;
  -webkit-margin-before: 15px;
          margin-block-start: 15px;
  -webkit-margin-after: 10px;
          margin-block-end: 10px;
}

.container-about .smart-creative .wrap-box span {
  font-size: 18px;
  color: #e74c3c;
}

.info {
  width: 100%;
  margin: 40px 0 40px 0;
}

.info h1 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  font-size: 40px;
  color: white;
  -webkit-margin-after: 10px;
          margin-block-end: 10px;
  letter-spacing: 10px;
}

.info span {
  font-size: 20px;
  color: #eb4f4e;
}

.container-team {
  background: #6cc372;
  font-family: "Bariol_Regular";
  padding-bottom: 25px;
  color: white;
}

.container-team .our-team {
  max-width: 950px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container-team .our-team .info span {
  color: black;
}

.container-team .our-team .wrap-box {
  background: white;
  margin-left: 15px;
  min-width: 220px;
  text-align: center;
  border-radius: 5px;
}

.container-team .our-team .wrap-box img {
  margin-top: 25px;
}

.container-team .our-team .wrap-box h2 {
  color: #54a359;
  -webkit-margin-before: 13px;
          margin-block-start: 13px;
  -webkit-margin-after: 8px;
          margin-block-end: 8px;
  font-weight: 100;
}

.container-team .our-team .wrap-box span {
  font-size: 18px;
  color: #e74c3c;
  font-weight: bolder;
  letter-spacing: 1px;
  font-weight: 600;
}

.container-team .our-team .wrap-box .button {
  width: 200px;
  height: 35px;
  background: #6cc372;
  margin: 10px auto;
  border-radius: 5px;
  color: white;
  font-size: 25px;
  padding-top: 5px;
  letter-spacing: 4px;
}

.container-team .our-team .wrap-box .button i.fab.fa-twitter {
  float: left;
  margin-left: 10px;
  font-size: 30px;
  margin-right: -50px;
}

.container-team .our-team .info {
  text-align: center;
  width: 100%;
}

.owl-item {
  width: 200px !important;
}

.container.content {
  max-width: 950px;
  margin: auto;
}

.owl-item {
  margin-left: 37px;
}

.owl-next {
  position: absolute;
  top: 23%;
  left: 110%;
  background: url("/img/arrow2.png");
}

.owl-prev {
  position: absolute;
  top: 23%;
  right: 107%;
  background: url("/img/arrow.png");
}

.container-other {
  background: #f0f0f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  text-align: center;
  font-family: "Bariol_Regular";
  padding-bottom: 180px;
}

.container-other .info h1 {
  color: #616161;
  font-weight: 600;
}

.container-other .info span {
  color: #61af66;
}

.container-portfolio {
  max-width: 950px;
  font-family: "Bariol_Regular";
  margin: -97px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container-portfolio .box-level.origin {
  margin-top: -48px;
}

.container-portfolio .box-level.origin span {
  color: black;
}

.container-portfolio .box-level.origin span pre {
  margin-bottom: -13px;
  font-family: "Bariol_Regular";
  font-size: 20px;
  letter-spacing: 2px;
}

.container-portfolio .box-level.origin span p {
  position: relative;
  margin-bottom: -28px;
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

.container-portfolio .box-level.origin h1 {
  color: #eb4f4e;
}

.container-portfolio .box-level.origin div {
  background: #eb4f4e;
  height: 90px;
}

.container-portfolio .box-level.origin div span {
  font-size: 30px;
  float: left;
  padding: 10px;
  color: white;
}

.container-portfolio .box-level.origin b {
  font-size: 64px;
}

.container-portfolio .box-level.origin button {
  background: white;
  color: #eb4f4e;
}

.container-portfolio h1 {
  color: #616161;
  -webkit-margin-before: 10px;
          margin-block-start: 10px;
  font-size: 40px;
  -webkit-margin-after: 10px;
          margin-block-end: 10px;
  letter-spacing: 5px;
}

.container-portfolio span {
  color: #eb4f4e;
  font-size: 20px;
}

.container-portfolio .box-level {
  width: 294px;
  text-align: center;
  border-radius: 7px;
  background: white;
  border: 1px solid #e9e9e9;
  margin: 0px 10px;
  border-bottom: none;
}

.container-portfolio .box-level hr {
  background: #d8d8d8;
  border: none;
  color: #d8d8d8;
  background-color: #d8d8d8;
  height: 1px;
  -webkit-margin-after: 1px;
          margin-block-end: 1px;
}

.container-portfolio .box-level ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.container-portfolio .box-level ul li {
  color: #616161;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.5px;
  background: #f0f0f0;
  border-bottom: 0.5px solid #d8d8d8;
  -webkit-margin-after: 1px;
          margin-block-end: 1px;
  height: 36px;
  padding-top: 12px;
}

.container-portfolio .box-level div {
  background: #616161;
  height: 90px;
}

.container-portfolio .box-level div span {
  font-size: 30px;
  float: left;
  padding: 10px;
  color: white;
}

.container-portfolio .box-level b {
  font-size: 64px;
}

.container-portfolio .box-level button {
  border-radius: 3px;
  background: white;
  border: none;
  font-size: 21px;
  color: #616161;
  width: 90px;
  height: 30px;
  margin: 30px 13px 30px 30px;
  float: right;
}

.container-tweets {
  background: #eb4f4e;
  color: white;
  margin-top: 100px;
  font-family: "Bariol_Regular";
  padding-bottom: 30px;
}

.container-tweets i.fab.fa-twitter {
  font-size: 33px;
}

.container-tweets .wrap-box {
  max-width: 950px;
  text-align: center;
  margin: auto;
  font-size: 20px;
}

.container-tweets .wrap-box h1 {
  font-size: 40px;
  color: white;
  -webkit-margin-after: 10px;
          margin-block-end: 10px;
  letter-spacing: 7px;
  padding-top: 40px;
}

.container-tweets .wrap-box span {
  color: black;
  letter-spacing: 1px;
}

.container-tweets .twit {
  text-align: left;
  line-height: 35px;
  max-width: 940px;
}

.container-footer {
  background: black;
  color: white;
  padding: 15px;
  font-size: 18px;
  font-family: "Bariol_Regular";
}

.container-footer div {
  max-width: 950px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social div {
  width: 30px;
  text-align: center;
  background: #eb4f4e;
  margin-left: 10px;
  height: 25px;
  padding-top: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2px;
}

.sub1 {
  width: 95%;
}

.sub1 span {
  color: #eb4f4e;
}

.sub2 {
  width: 15%;
}

.contacts {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0.7;
  margin: auto;
  width: 615px;
  border-radius: 5px;
  height: auto;
  position: absolute;
  left: 50%;
  margin-left: -307px;
}

.contacts div {
  margin-top: 9%;
  background: black;
  color: white;
  height: 145px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Bariol_Regular";
  letter-spacing: 2px;
}

.contacts div h1 {
  font-size: 30px;
  margin-top: 5px;
}

.contacts div span {
  margin-bottom: 22px;
  font-size: 20px;
  color: #d94b4a;
}

img.gamburger, .X {
  display: none;
}
/*# sourceMappingURL=style.css.map */