$time: 500ms;
$delay: $time/2;
$mode: cubic-bezier(.17, .67, .55, 1.43);
@keyframes heartbeat {
  0% {
    transform: scale(0)
  }

  25% {
    transform: scale(1.2)
  }

  50% {
    transform: scale(1)
  }

  75% {
    transform: scale(1.2)
  }
 
  100% {
    transform: scale(1)
  }
}
@font-face {
  font-family: "Bariol_Regular";
  src: url("/fonts/Bariol_Regular.otf"); 
  }
@font-face {
      font-family: "Bariol_Regular_Italic";
      src: url("/fonts/Bariol_Regular_Italic"); 
  }
  html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.slider-container {
  position: relative;
  width: 800px;
  height: 450px;
  margin: auto;

  .slider-content {
    position: relative;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    .slider-single {
      position: absolute;
      z-index: 0;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transition: z-index 0ms $delay;

      .slider-single-image {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: $time $mode;
        transform: scale(0);

      }

      .slider-single-download {
        position: absolute;
        display: block;
        right: -22px;
        bottom: 12px;
        padding: 15px;
        color: #333333;
        background-color: #fdc84b;
        font-size: 18px;
        font-weight: 600;
        font-family: 'karla';
        border-radius: 5px;
        transition: $time $mode;

        &:hover,
        &:focus {
          outline: none;
          text-decoration: none;
        }
      }

      .slider-single-title {
        display: block;
        float: left;
        margin: 16px 0 0 20px;
        font-size: 20px;
        font-family: 'karla';
        font-weight: 400;
        color: #ffffff;
        transition: $time $mode;

      }

      .slider-single-likes {
        display: block;
        float: right;
        margin: 16px 20px 0 0;
        transition: $time $mode;

        i {
          font-size: 20px;
          display: inline-block;
          vertical-align: middle;
          margin-right: 5px;
          color: #ff6060;
          transition: $time $mode;
          transform: scale(0);
        }

        p {
          display: inline-block;
          vertical-align: middle;
          margin: 0;
          color: #ffffff;
        }

        &:hover,
        &:focus {
          outline: none;
          text-decoration: none;
        }
      }

      &.preactivede {

        //z-index: 0;
        .slider-single-image {
          //
          transform: translateX(-50%) scale(0);
        }
      }

      &.preactive {
        z-index: 1;

        .slider-single-image {

          transform: translateX(-25%) scale(.8);
        }

        .slider-single-download {
          transform: translateX(-150px);
        }

        .slider-single-title {
          transform: translateX(-150px);
        }

        .slider-single-likes {
          transform: translateX(-150px);
        }
      }

      &.proactive {
        z-index: 1;

        .slider-single-image {

          transform: translateX(25%) scale(.8);
        }

        .slider-single-download {
          transform: translateX(150px);
        }

        .slider-single-title {
          transform: translateX(150px);
        }

        .slider-single-likes {
          transform: translateX(150px);
        }
      }

      &.proactivede {

        //z-index: 0;
        .slider-single-image {
          //
          transform: translateX(50%) scale(0);
        }
      }

      &.active {
        z-index: 2;

        .slider-single-image {

          transform: translateX(0%) scale(1);
        }

        .slider-single-download {

          transition-delay: 100ms;
          transform: translateX(0px);
        }

        .slider-single-title {

          transition-delay: 200ms;
          transform: translateX(0px);
        }

        .slider-single-likes {

          transition-delay: 300ms;
          transform: translateX(0px);

          i {
            animation-name: heartbeat;
            animation-duration: 500ms;
            animation-delay: 900ms;
            animation-interation: 1;
            animation-fill-mode: forwards;
          }
        }
      }
    }
  }

  .slider-left {
    position: absolute;
    z-index: 3;
    display: block;
    right: 120%;
    top: 35%;
    color: #ffffff;
    transform: translateY(-50%);
    padding: 20px 15px;
    margin-right: -2px;
  }

  .slider-right {
    position: absolute;
    z-index: 3;
    display: block;
    left: 120%;
    top: 35%;
    color: #ffffff;
    transform: translateY(-50%);
    padding: 20px 15px;
    margin-left: -2px;
  }
}
.wrapper {
  margin: auto;
  width: 100%;
  top:0px;
  padding-top:0;
  margin:auto;
  position:relative;
  height:100%;
}
ul{margin: 0;}
li{ list-style: none;}
a{text-decoration: none;color: #eb4f4e;}
header {
  .nav {
    background: #f56262;
    max-width: 100%;

    menu#menu {
      max-width: 950px;
      margin: auto;
      display: flex;
      justify-content: space-around;
      padding: 25px 0px 15px 0px;

      ul {
        display: flex;
        flex-wrap: wrap;
        color: white;
        font-family: Arial;
        font-size: 16px;
        font-weight: 600;

        li {
          border-radius: 5px;
          max-height: 28px;

          a {
            color: white;
            text-decoration: none;
            vertical-align: -webkit-baseline-middle;
            margin: 0px 20px 0px 20px;
          }

        }

        li:hover {
          background: black;
        }
      }
    }
  }
}
.container-slider {
  background: #eb4f4e;
  margin: 0;
  text-align: center;
  color: white;
  font-family: "Bariol_Regular";
  max-height: 540px;
  h1{
    margin-block-start: 0;
    font-size: 56px;
    letter-spacing: 5px;
    margin-block-end: 0;
    padding-top: 60px;
  }
  p{
    font-size: 18px;
    font-family: "Bariol_Regular";
    letter-spacing: 1px;
  }
}

.container-about {
  color: white;
  background: black;
  font-family: "Bariol_Regular";
  padding-bottom: 25px;
  .smart-creative {
    max-width: 950px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    letter-spacing: 2px;
    .info {
     span{
        font-size: 20px;
        color: #eb4f4e;
      }
    }
    .wrap-box {
      max-width: 260px;
      margin: auto;
      h2{
        color: white;
        font-size: 30px;
        margin-block-start: 15px;
        margin-block-end: 10px;
      }
      span{
        font-size: 18px;
        color: #e74c3c;
      }
    }
  }
}
.info {
  width: 100%;
  margin: 40px 0 40px 0;
  h1{
margin-block-start: 0;
font-size: 40px;
color: white;
margin-block-end: 10px;
letter-spacing: 10px;
  }
 span{
    font-size: 20px;
    color: #eb4f4e;
  }
}
.container-team {
  background: #6cc372;
  font-family: "Bariol_Regular";
  padding-bottom: 25px;
  color: white;
  .our-team {
    max-width: 950px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    .info span {
      color: black;
    }
    .wrap-box {
      background: white;
      margin-left: 15px;
      min-width: 220px;
      text-align: center;
      border-radius: 5px;
      img {margin-top: 25px;}
      h2 {
        color: #54a359;
        margin-block-start: 13px;
        margin-block-end: 8px;
        font-weight: 100;
    }
      span {
        font-size: 18px;
        color: #e74c3c;
        font-weight: bolder;
        letter-spacing: 1px;
        font-weight: 600;
    }
    .button {
      width: 200px;
      height: 35px;
      background: #6cc372;
      margin: 10px auto;
      border-radius: 5px;
      color: white;
      font-size: 25px;
      padding-top: 5px;
      letter-spacing: 4px;
      i.fab.fa-twitter {
        float: left;
        margin-left: 10px;
        font-size: 30px;
        margin-right: -50px;
    }
  }
  }
    .info{
      text-align: center;
      width: 100%;
    }
  } 
}
.owl-item {
  width: 200px!important;
}

.container.content {
  max-width: 950px;
  margin: auto;
}

.owl-item {
  margin-left: 37px;
}
.owl-next {
  position: absolute;
  top: 23%;
  left: 110%;
  background: url("/img/arrow2.png");
}
.owl-prev {
  position: absolute;
  top: 23%;
  right: 107%;
  background: url("/img/arrow.png");
}
.container-other{
  background: #f0f0f0;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  text-align: center;
  font-family: "Bariol_Regular";
  padding-bottom: 180px;
  .info{
    h1{
      color: #616161;
      font-weight: 600;
    }
    span{
      color: #61af66;
    }
  }
}
.container-portfolio{
  max-width: 950px;
  font-family: "Bariol_Regular";
  margin: -97px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .box-level.origin {
    margin-top: -48px;
    span {
      color: black;
      pre {
        margin-bottom: -13px;
        font-family: "Bariol_Regular";
        font-size: 20px;
        letter-spacing: 2px;
    }
    p{
      position: relative;
      margin-bottom: -28px;
      margin-block-start: 0;
    }
  }
  h1{
    color: #eb4f4e;
  }
  div{
    background:#eb4f4e;
    height: 90px;
    span {
      font-size: 30px;
      float: left;
      padding: 10px;
      color: white;
  }
  }
  b {
    font-size: 64px;
}
  button {
    background: white;
    color: #eb4f4e;
    }
  }
  h1 {
    color: #616161;
    margin-block-start: 10px;
    font-size: 40px;
    margin-block-end: 10px;
    letter-spacing: 5px;
  } 
  span {
    color: #eb4f4e;
    font-size: 20px;
  }
  .box-level {
    width: 294px;
    text-align: center;
    border-radius: 7px;
    background: white;
    border: 1px solid #e9e9e9;
    margin: 0px 10px;
    border-bottom: none;
    hr {
      background: #d8d8d8;
      border: none;
      color: #d8d8d8;
      background-color: #d8d8d8;
      height: 1px;
      margin-block-end: 1px;
  }
    ul{
      padding-inline-start: 0;
      li {
        color: #616161;
        font-size: 18px;
        font-weight: 600;
        letter-spacing: 1.5px;
        background: #f0f0f0;
        border-bottom: 0.5px solid #d8d8d8;
        margin-block-end: 1px;
        height: 36px;
        padding-top: 12px;
    }
    }
    div{
      background:#616161;
      height: 90px;
      span {
        font-size: 30px;
        float: left;
        padding: 10px;
        color: white;
    }
    }
    b {
      font-size: 64px;
  }
    button {
      border-radius: 3px;
      background: white;
      border: none;
      font-size: 21px;
      color: #616161;
      width: 90px;
      height: 30px;
      margin: 30px 13px 30px 30px;
      float: right;
   }
  }
}
  .container-tweets {
    background: #eb4f4e;
    color: white;
    margin-top: 100px;
    font-family: "Bariol_Regular";
    padding-bottom: 30px;
    i.fab.fa-twitter {
      font-size: 33px;
  }
    .wrap-box {
      max-width: 950px;
      text-align: center;
      margin: auto;
      font-size: 20px;
      h1 {
        font-size: 40px;
        color: white;
        margin-block-end: 10px;
        letter-spacing: 7px;
        padding-top: 40px;
    }
    span{
      color: black;
      letter-spacing: 1px;
    }
  }
  .twit {
    text-align: left;
    line-height: 35px;
    max-width: 940px;
}
}
.container-footer {
  background: black;
  color: white;
  padding: 15px;
  font-size: 18px;
  font-family: "Bariol_Regular";
  div {
    max-width: 950px;
    margin: auto;
    display: flex;
}
}
.social div {
  width: 30px;
  text-align: center;
  background: #eb4f4e;
  margin-left: 10px;
  height: 25px;
  padding-top: 5px;
  justify-content: center;
  border-radius: 2px;
}
.sub1 {
  width: 95%;
  span {
    color: #eb4f4e;
  }
}
.sub2 {
  width: 15%;
}
.contacts {
  text-align: center;
  display: flex;
  flex-direction: column;
  opacity: 0.7;
  margin: auto;
  width: 615px;
  border-radius: 5px;
  height: auto;
  position: absolute;
  left: 50%;
  margin-left: -307px;
  div{
    margin-top: 9%;
    background: black;
    color: white;
    height: 145px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    font-family: "Bariol_Regular";
    letter-spacing: 2px;
    h1{
      font-size: 30px;
      margin-top: 5px;
    }
    span {
      margin-bottom: 22px;
      font-size: 20px;
      color: #d94b4a;
  }
  }
}
img.gamburger, .X {
  display: none;
}